body {
	margin-left: 10%;
	margin-right:10%;
	margin-bottom: 0%;
	background-color: #D3D3D3;
	font-family: "Arial";
	text-align: justify;
}

img {
	height: 60px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
    border-radius: 5px;
    margin-bottom: 5px;
}

li {
   	float: left;
}

li a {
    display: block;
    color: #FFFFFF;
   	padding: 10px 25px 10px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

article, aside{
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	margin-bottom: 5px;
}

#articleLeft {
	width: 69%;
	float: left;
}

#asideRight {
	width: 30%;
	float: left;
	margin-left: 5px;
}

.abc {
	color: #FF4500;
}

footer {
 	clear: both;
    background-color: #808080;
    padding: 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media screen and (max-width: 350px) {
	img {
 		width: 100%;
 		height: auto;
 	}

 	li {
 		float: none;
 	}

 	li a {
 		text-align: center;
 	}

 	#articleLeft {
		width: 100%;
	}
 	#asideRight {
 		margin-left: 0px;
		width: 100%;
	}
}

@media screen and (min-width: 350px) and (max-width: 600px) {
	img {
 		width: 100%;
 		height: auto;
 	}

 	li {
 		float: none;
 	}

 	li a {
 		text-align: center;
 	}

 	#articleLeft {
		width: 100%;
	}
 	#asideRight {
 		margin-left: 0px;
		width: 100%;
	}
}